
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.intro-background {
  background-color: #ECFAF6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw; /* 뷰포트 너비 */
  height: 100vh; /* 뷰포트 높이 */
  overflow: hidden; /* 넘치는 내용 숨기기 */
}

.animation-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* 부모 요소 크기 채우기 */
  height: 100%;
}

.svg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.svg-image.visible {
  opacity: 1;
}